{% extends 'mutation-layout.html' %}

{% block title %}Example{% endblock %}

{% block head %}
{% parent %}
	<style>
		.label {width: 60px }
	</style>
{% endblock %}	


{% block body %}
<body onload="startupDraw()">
{% endblock %}

{% block content %}
{% parent %}		
	<div class="container" style="padding-top: 60px">
		<div id="main-div" style="display: flex">
			<div style="width: 80%">
				<input type="submit" value="Test" onclick="operate()" style="width: 100%; background-color: #5cb85c"/>	
				<div>
					<br/>
					<div class="label" style="width: 70px">Code</div>	
					<textarea id="testExpression" style="height: 160px; width: 100%">wait...</textarea>
				</div>				
			</div>
		</div>
	</div>
{% endblock %}

{% block mainscript %}
<script>
	var objectFile = "/example-deparse-1.c";
	
	// Read initial shader
	$.ajax({
		type: 'GET',
		url: objectFile,
		data: { },
		async: false,
		dataType: "text",
		success: function(data) { 
			$("#testExpression")[0].value = data;
		},
		error: function(data) { console.log('Source shader not found'); }
	});
		
	function operate() {
		// Read initial shader
		$.ajax({
			type: 'GET',
			url: 'deparseTest',
			data: { code: document.getElementById("testExpression").value },
			async: false,
			dataType: "text",
			success: function(data) { 
				$("#testExpression")[0].value = data;
			},
			error: function(data) { 
				$("#testExpression")[0].value = "Error"; 
			}
		});
	}
</script>
{% endblock %}

{% block footerscript %}
{% parent %}
{% endblock %}