{% extends 'mutation-layout.html' %}

{% block title %}Shaderclick{% endblock %}

{% block head %}
{% parent %}
{% endblock %}

{% block content %}
{% parent %}
	
<div class="container" style="padding-top: 60px">
	<div id="main-div" style="max-width: 613px;">
		<h3>Help</h3>
		<h4>Editors</h4>
		<ul>
		<li><p>Click parent items to mutate them.</p></li>
		<li><p>Right click any sample to display menu and like, dislike, edit objects.</p></li>
		<li><p>Drag any sample between editors.</p></li>
		<li><p>Use parents editor to change objects combining parents and code editor for manual creation and modification.</p></li>
		</ul>
		<br/>
		<h4>Gallery</h4>
		<ul>
		<li><p>Right click to like, dislike and edit.</p></li>
		<li><p>Drag any sample to editors.</p></li>
		</ul>
		<br/>
		<p>Send any comment to suspiciousimage@hotmail.com</p>
	</div>
</div>

{% endblock %}

{% block mainscript %}
<script>		
</script>
{% endblock %}

