<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="GLSL shaders mutation.">
		<meta name="author" content="">
		<meta name="keywords" content="pvm, playlist, mix">
		<title>{% block title %}Evolving shaders{% endblock %}</title>

		{% block head %}
			<script src="jquery-1.11.1.min.js"></script>
			<link href="bootstrap.min.css" rel="stylesheet">
			<link href="site.css" rel="stylesheet">
			<script src="utils.js"></script>
			<script src="glMatrix-0.9.5.min.js"></script>
		{% endblock %}
	</head>

	{% block body %}
	<body onload="startup()">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Main -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6557443649718023"
     data-ad-slot="1898194790"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	{% endblock %}	
	
	{% block content %}
		<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: indigo">
			<div class="container">
				<div class="navbar-collapse">
				  <ul class="nav navbar-nav">
					<!-- class="active" al li -->
					<li><a style="text-shadow: none;" href="/index.html">Home</a></li>
					<li><a style="text-shadow: none;" href="/help.html">Help</a></li>
					<li><a style="text-shadow: none;" href="/editor-a.html">Editor</a></li>
					<li><a style="text-shadow: none;" href="/gallery.html">Gallery</a></li>
				  </ul>
				</div>
			</div>
		</div>
		
	{% endblock %}
	</body>

	{% block mainscript %}	
		<script>
		function startup () {}
		</script>
	{% endblock %}

	{% block footerscript %}
	<script>
	</script>
	{% endblock %}
</html>

