{% extends 'main-layout.html' %}

{% block head %}
{% parent %}
	<script src="glMatrix-0.9.5.min.js"></script>		
	<script src="webgl-utils.js"></script>
	<script src="webgl-entities.js"></script>
{% endblock %}

{% block body %}
<body onload="startupDraw()">
{% endblock %}
	
{% block content %}
{% parent %}
{% endblock %}

{% block mainscript %}
	<script src="jquery-1.11.1.min.js"></script>
	<script src="bootstrap.min.js"></script>

	<script>
	function startupDraw () {}
	</script>
{% endblock %}

