{% extends 'main-layout.html' %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="keywords" content="">
		{% block head %}
		{% parent %}
		<script type="text/javascript" src="utils.js"></script>	
		<script type="text/javascript" src="shader-utils.js"></script>			
		<script type="text/javascript" src="entities/entity-background.js"></script>
		<script type="text/javascript" src="entities/entity-shadertoy.js"></script>
		<script type="text/javascript" src="scenes/scene-sequencer.js"></script>
		<script type="text/javascript" src="scenes/repeating-scene-sequencer.js"></script>
		<script type="text/javascript" src="scenes/renderer.js"></script>
		<script type="text/javascript" src="scenes/scenes.js"></script>
		<script type="text/javascript" src="audio/webaudio-utils.js"></script>
		{% endblock %}
	</head>

	<body>
		<div class="container">
			{% block content %}
			{% parent %}
			<div class="container" style="padding-top: 60px">
			<div>
				<div id="main-div" style="max-width: 613px;">
					<h2>Shader entry</h2>
					<br/>
					<div style="display: flex">
						<div>
							<input type="text" id="text-name" name="entity-name">
							<textarea id="text-entry" class="form-control" style="width: 400px" rows="20">void mainImage( out vec4 fragColor, in vec2 fragCoord )
{
	vec2 uv = fragCoord.xy / iResolution.xy;
	fragColor = vec4(uv,0.5+0.5*sin(iGlobalTime),1.0);
}</textarea>
							<div>
								<!--<button id="button-save-entry" type="button" onclick="saveEntry()" disabled>-->
								<button id="button-save-entry" type="button" onclick="saveEntry()">
								  <span class="icon-bar" style="height: 18px"><i class="icon-star"></i></span>
								</button>
								<button id="button-test-entry" type="button" onclick="testEntry()">
								  <span class="icon-bar" style="height: 18px"><i class="icon-play"></i></span>
								</button>
							</div>
						</div>
						<div style="margin-top: 40px; margin-left: 40px;">
							<canvas id="glCanvas" width="256" height="256" style="border-color: black" ></canvas>
						</div>
					</div>
					<p id="labelClick" style="color: gray"></p>
				</div>
			</div>
			{% endblock %}
		</div>
	</body>
	
	{% block mainscript %}
		<script>
		
		var demo, full=false, loaded=false;
		
		function startup () {  }

		function Demo() {
			this.textureCanvas = null;
			this.glContext = null;
			this.fontStyles = {};
			this.renderer = new Renderer();
		}

		var audioFFTDefinition = 1024;
		var audioUseAudioAnalisys = true;


		Demo.prototype.render = function (glContext) {
			this.sequencer.render(glContext, this.renderer);
		}

		Demo.prototype.initialize = function (glContext, textCanvas) {
			this.sequencer = new RepeatingSceneSequencer(this, function (sequencer) { return 0; });
			this.sequencer.addScene(initializeSceneView, 0, { length: 10000 });
			this.sequencer.sceneFunction = function (time, scenesCount) { return 0; };
			this.sequencer.initializeScenes(glContext, textCanvas);
			this.renderer.initialize(glContext);
		}	
				
		function requestFrame(demo, gl) {
			demo.render(gl);
			last = performance.now();
			window.requestAnimationFrame(function () { 
				requestFrame(demo, gl); 
			});
		}

		function initGL(canvas) {
			var label = document.getElementById("labelClick");
			try {
				var gl = canvas.getContext("experimental-webgl", { alpha: true, depth: true });
				var canvas = document.getElementById("glCanvas"), style = canvas.style;
				style.width = window.screen.availWidth;
				style.height = window.screen.availHeight;
				return gl;
			}
			catch (e) {
				label.innerHTML = "Error in WebGL initialization.";
			}
			if (!gl) {
				label.innerHTML = "Could not initialize WebGL";
				return null;
			}
		}

		function initializeSceneView (demo, glContext, textCanvas) {
			var entityView = $("#text-entry")[0].value;
			var background = new ShaderToyParametrizedObject(entityView, [ ]);
			background.initialize(glContext);
			var list = [ background ];
			return new Scene(list);
		}

		function startupDraw () {
			var label = document.getElementById("labelClick");
			document.getElementById("button-save-entry").display = "none";
			
			try {
				var canvas = document.getElementById("glCanvas");
				var gl = initGL(canvas);
				demo = new Demo();
				resetTimer();	
				demo.initialize(gl, "textureCanvas");
				setupAudioNodes();
			}
			catch(err) {
				label.innerHTML = "Initialization error: " + err.message;
				document.getElementById("button-save-entry").enable = false;
				document.getElementById("button-save-entry").display = "none";
				return;
			}
						
			loaded = true;
			label.innerHTML = "";
			document.getElementById("button-save-entry").enable = true;
			document.getElementById("button-save-entry").display = "block";
			resetTimer();	
			requestFrame(demo, gl);				
		}
	
		function testEntry() {
			startupDraw();
		}
		
		function saveEntry() {
			var text = $("#text-entry")[0].value;
			var arguments = { object: text};
			var success = function () {
				$("#text-entry")[0].value = "";
				$("#text-name")[0].value = "";
			};
			
			$.ajax({
					type : 'GET',
					url : "/addShaderEntity",
					data : arguments,
					dataType : "text",
					success : success,
					error : function(data) {
						console.log('Call failed');
				}});
		}
		
		</script>
	{% endblock %}	

	{% block footerscript %}
	{% parent %}
	{% endblock %}	
</html>