{% extends 'main-layout.html' %}
<title>{% block title %}Expressions explorer view{% endblock %}</title>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="keywords" content="lisp, rgb, texture generation, webgl">
		
		{% block head %}
		{% parent %}
		<script type="text/javascript" src="utils.js"></script>	
		<script type="text/javascript" src="shader-utils.js"></script>			
		<script type="text/javascript" src="initView.js"></script>
		<script type="text/javascript" src="entities/entity-background.js"></script>
		<script type="text/javascript" src="entities/entity-shadertoy.js"></script>
		<script type="text/javascript" src="entities/entity-sceneshader.js"></script>
		<script type="text/javascript" src="scenes/scene-sequencer.js"></script>
		<script type="text/javascript" src="scenes/repeating-scene-sequencer.js"></script>
		<script type="text/javascript" src="scenes/renderer.js"></script>
		<script type="text/javascript" src="scenes/scenes.js"></script>
		<script type="text/javascript" src="audio/webaudio-utils.js"></script>
		<!--<script type="text/javascript" src="view.js"></script>-->
		{% endblock %}
	</head>

	{% block content %}
	{% parent %}
	<div>
		<div id="divTextureCanvas" style="display: none">
			<canvas id="textureCanvas" width="512" height="512"></canvas>
		</div>
		<div id="demo-container" style="padding-top: 60px">
			<p id="labelClick" style="color: gray">Loading, please wait...</p>
			<div id="main-div">
				<canvas id="glCanvas" onclick="toggleFullscreen()"></canvas>
			</div>
		</div>
	</div>
	{% endblock %}

	{% block mainscript %}
	{% parent %}
	<script src="jquery-1.11.1.min.js"></script>
	<script src="bootstrap.min.js"></script>	
	
	<script>		
		var entityClass = "#ENTITYCLASS#";
		var entity = "#ENTITY#";
		var entityTranslated = "#ENTITYTRANSLATED#";
		var demo, full=false, loaded=false, shaderSrc;
		
		function startup () { startupDraw(); }
		
		function Demo() {
			this.textureCanvas = null;
			this.glContext = null;
			this.fontStyles = {};
			this.renderer = new Renderer();
		}

		var audioFFTDefinition = 1024;
		var audioUseAudioAnalisys = true;


		Demo.prototype.render = function (glContext) {
			this.sequencer.render(glContext, this.renderer);
		}

		Demo.prototype.initialize = function (glContext, textCanvas) {
			this.sequencer = new RepeatingSceneSequencer(this, function (sequencer) { return 0; });
			this.sequencer.addScene(initializeSceneView, 0, { length: 10000 });
			this.sequencer.sceneFunction = function (time, scenesCount) { return 0; };
			this.sequencer.initializeScenes(glContext, textCanvas);
			this.renderer.initialize(glContext);
		}	
				
		function requestFrame(demo, gl) {
			demo.render(gl);
			last = performance.now();
			window.requestAnimationFrame(function () { 
				requestFrame(demo, gl); 
			});
		}

		function initGL(canvas) {
			var label = document.getElementById("labelClick");
			try {
				var gl = canvas.getContext("experimental-webgl", { alpha: true, depth: true });
				var canvas = document.getElementById("glCanvas"), style = canvas.style;
				style.width = window.screen.availWidth;
				style.height = window.screen.availHeight;
				return gl;
			}
			catch (e) {
				label.innerHTML = "Error in WebGL initialization.";
			}
			if (!gl) {
				label.innerHTML = "Could not initialize WebGL";
				return null;
			}
		}
		
		function getShaderSrc(entityClassShaderFile) {
			if (shaderSrc == null)
			$.ajax({
				type : 'GET',
				url : entityClassShaderFile,
				data : { },
				async: false,
				dataType : "text",
				success : function(data) { shaderSrc = data; },
				error : function(data) { console.log('Source shader not found'); }
			});
			return shaderSrc;
		}
		
		function initializeSceneView (demo, glContext, textCanvas) {
			var entityView = getShaderSrc("/example-scene-balls-1b-js.c");
			entityView = entityView.replace("#VALUE#", entity.toLowerCase());
			var background = new ShaderToyParametrizedObject(entityView, [ ]);
			background.initialize(glContext);
			var list = [ background ];
			return new Scene(list);
		}
	
		function startupDraw () {
			var label = document.getElementById("labelClick");
			
			try {
				var canvas = document.getElementById("glCanvas");
				var gl = initGL(canvas);
				demo = new Demo();
				resetTimer();	
				demo.initialize(gl, "textureCanvas");
				setupAudioNodes();
			}
			catch(err) {
				label.innerHTML = "Initialization error: " + err.message;
				return;
			}
						
			loaded = true;
			label.innerHTML = "";
			resetTimer();	
			requestFrame(demo, gl);				
		}
		
	</script>
	{% endblock %}
	
	{% block footerscript %}
	{% parent %}
	{% endblock %}
</html>