{% extends 'main-layout.html' %}
<title>{% block title %}Expressions explorer view{% endblock %}</title>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="keywords" content="lisp, rgb, texture generation, webgl">
		
		{% block head %}
		{% parent %}
		<script type="text/javascript" src="utils.js"></script>	
		<script type="text/javascript" src="shader-utils.js"></script>			
		<script type="text/javascript" src="initView.js"></script>
		<script type="text/javascript" src="entities/entity-background.js"></script>
		<script type="text/javascript" src="entities/entity-shadertoy.js"></script>
		<script type="text/javascript" src="scenes/scene-sequencer.js"></script>
		<script type="text/javascript" src="scenes/repeating-scene-sequencer.js"></script>
		<script type="text/javascript" src="scenes/renderer.js"></script>
		<script type="text/javascript" src="scenes/scenes.js"></script>
		<script type="text/javascript" src="audio/webaudio-utils.js"></script>
		<script type="text/javascript" src="view.js"></script>
		{% endblock %}
	</head>

	{% block content %}
	{% parent %}
	<div>
		<div id="divTextureCanvas" style="display: none">
			<canvas id="textureCanvas" width="512" height="512"></canvas>
		</div>
		<div id="demo-container" style="padding-top: 60px">
			<p id="labelClick" style="color: gray">Loading, please wait...</p>
			<div id="main-div">
				<canvas id="glCanvas" onclick="toggleFullscreen()"></canvas>
			</div>
		</div>
	</div>
	{% endblock %}

	{% block mainscript %}
	{% parent %}
	<script src="jquery-1.11.1.min.js"></script>
	<script src="bootstrap.min.js"></script>	
	
	<script>		
		var entityView = "#ENTITY#";
		function startup () { startupDraw(); }
	</script>
	{% endblock %}
	
	{% block footerscript %}
	{% parent %}
	{% endblock %}
</html>